*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #111111;
    font-family: gilroy;
    
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

nav{
    position: fixed;
    display: flex;
    align-items: flex-start;
    height: 10vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    background-color: #f1f1f1;
}
nav #nav-p2{
    gap: 1.5vw;
    margin-top: 5px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}
nav #nav-p2 a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
}
#nav-p2 h5{
    margin-top: .7vw;
    display: none;
    overflow: hidden;
}
#nav-p2 h5 span{
    font-size: 1vw;
    font-weight: 400;
    display: inline-block;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
    transition: all .5s ease;
}
nav button{
    background-color: #0DA34E;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: white;
    border-radius: 50px;
    font-size: .85vw;
    font-weight: 500;
    text-transform: uppercase;
}

button svg{
    margin-left: 1.5vw;
    height: .85vw;
    transition: all 0.6s ease;
}

button:hover svg{
    transform: rotate(-18deg);
}
#nav-btm{
    width: 80%;
    height: 0vh;
    border-bottom: 1px solid #1111117c;
    position: absolute;
    top:100%;
    z-index: 9;
    transition: all 0.7s;
    background-color: #f1f1f1;
} 

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#page1 h1{
    font-size: 9vw;
    text-transform: uppercase;
    line-height: .9;
}

#page1 h1 svg{
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    background-color: #0DA34E;
    transition: 1s ease all;
}

#page1 h1 svg:hover{
    cursor: pointer;
    transform: rotate(-19deg) scale(.9);
}

#page1 p{
    text-align: center;
    margin-top: 3vh;
    font-weight: 500;
}

#p1-elems{
    display: flex;
    margin-top: 1vh;
    align-items: center;
    justify-content: center;
}

#p1-elems h4{
    font-weight: 400;
    font-size: 1vw;
    padding: 5px 10px;
    border: 1px solid #11111177;
    border-radius: 50px;
}

#p1-elems h4:nth-last-child(2){
    border: none;
    padding: 2px 5px;
}

#moving-div{
    margin-top: 8vh;
    width: 50%;
    position: absolute;
    bottom: 10%;
    white-space: nowrap;
    padding: 1.5vw;
    overflow: hidden;
}
.move{
    display: inline-block;
    animation: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.move img{
    width: 5vw;
    margin: 0vw 1vw;
}

#blr-left{
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #f1f1f1, transparent);
    z-index: 2;
}
#blr-right{
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left, #f1f1f1, transparent);
    z-index: 2;
}
#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
}


@keyframes move {
    0%{
        transform: translateX(0%);
    }
    
    100%{
        transform: translateX(-100%);
    }
}